@font-face {
    font-family: "DeltaTour";
    src: url("../assets/fonts/delta-tour.ttf") format("truetype");
}
@font-face {
    font-family: "Helvetica-Light";
    src: url("../assets/fonts/helvetica-light.otf") format("truetype");
}
@font-face {
    font-family: "mftm";
    src: url("../assets/fonts/mftm.ttf") format("truetype");
}
@font-face {
    font-family: "Martyr";
    src: url("../assets/fonts/martyr.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
    color: white;
    font-family: "Helvetica-Light", "DeltaTour", "mftm", sans-serif;
}

body {
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(0, 0, 0, 0.15) 100%
        ),
        radial-gradient(
                at top center,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(0, 0, 0, 0.4) 120%
            )
            #989898;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    object-position: center;
    /* position: sticky; */
}

header {
    /* margin: 0 auto; */
    /* object-position: center; */
    /* position: sticky; */
    padding: 0 20px;
}

.banner {
    max-width: 100%;
    height: auto;
    max-height: 350px;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    width: 100%;
    max-width: 1200px;
    object-fit: none;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Helvetica-Light";
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-family: "DeltaTour";
}

h4 {
    font-family: "Martyr";
    font-size: 25px;
}

p {
    font-family: "mftm";
}

.thanks {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 55px;
}

ul {
    list-style: none;
}

.divider {
    width: 80%;
    height: 2px;
    border-bottom: 2px solid rgb(100, 95, 92);
    margin: 0 auto;
}

.videos .divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

main > section:last-child {
    margin-bottom: 60px;
}

@media (min-width: 1200px) {
    body {
        height: 100vh;
    }
}
