.developer-only-btn {
    background-color: #888;
    color: #fff;
    border: 1px solid #fcc23f;
    border-radius: 5px;
    padding: 2px 20px;
    margin-right: 5px;
    font-size: 12px;
    max-height: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.3s, color 0.3s;
}

.developer-only-btn:hover {
    background-color: #6b6b6b;
    color: #00ff00;
}

.buttons-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
