section .tour-title {
    text-align: center;
    font-size: 2rem;
}

.tour-name {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.tour-filter {
    list-style-type: disc;
    color: rgb(68, 112, 24);
    margin-left: 10px;
}

.date-details {
    color: white;
}

.tour-name-title,
.tour-city-title {
    text-align: center;
}
